<!DOCTYPE html>

<html>
    <h1>Bem vindo ao meu teste lógico</h1>
    
    <h3>Questão 1</h3>
    {{ questao1 }}

    <h3>Questão 2</h3>
    {{ questao2 }}

    <h3>Questão 3</h3>
    {{ questao3 }}

    <h3>Questao 4</h3>
    Média: {{ questao4.media }}<br>
    Moda: {{ questao4.moda }}<br>
    Mediana: {{ questao4.mediana }}

    <h3>Questão 5</h3>
    {{ questao5 }}

    <a href="http://127.0.0.1:3333/"><h4>Voltar</h4></a>

</html>